.item-votes-container {
    width: 100%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    color: var(--gray);
}

.item-voter-0, .item-voter-1 {
    width: 50%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    border: none;
    font-size: 3vh;
    text-align: center;
    cursor: pointer;
}

.item-voter-0:focus, .item-voter-1:focus {
    outline: none;
}

.item-voter-0 {
    float: right;
    background-color: var(--halal-color-transparent);
}

.item-voter-1 {
    float: left;
    background-color: var(--haram-color-transparent);
}

.item-voter-0:hover {
    background-color: var(--halal-compliment-color-transparent);
}

.item-voter-1:hover {
    background-color: var(--haram-compliment-color-transparent);
}

.item-voter-0-selected {
    background-color: var(--halal-compliment-color-transparent);
    outline: 2px solid black;
    outline-offset: -2px;
}

.item-voter-1-selected {
    background-color: var(--haram-compliment-color-transparent);
    outline: 2px solid black;
    outline-offset: -2px;
}

.item-vote-text {
    line-height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
}

.votes-bullet-separator {
    display: inline-block;
    font-size: medium;
    vertical-align: middle;
    margin-bottom: 5px;
}