.menu {
    position: fixed;
    width: 100%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    background-color: var(--neutral-color);
    top: 0;
}

.login-button {
    position: relative;
    float:right;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
    margin-right: 10px;
    cursor: pointer;
}

.login-button:hover {
    text-decoration: underline;
}

.username-text {
    position: relative;
    float:right;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
    margin-right: 10px;
}

.logout-button {
    position: relative;
    float:right;
    font-size: 20px;
    top: 50%;
    margin-top: -10px;
    margin-right: 10px;
    cursor: pointer;
}

.logout-button:hover {
    text-decoration: underline;
}

.user-info-container {
    height: 100%
}