.menu {
    position: fixed;
    top: 1%;
    left: 2%;
    background: var(--light-neutral-color);
    color: var(--dark-mode-text-color);
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px rgba(106, 124, 138, 0.75);
    animation: pulse 3s infinite cubic-bezier(.16,-0.02,0,1.31);
}

@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(106, 124, 138, 0.0);}}

.menu-button {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    background-color: var(--light-neutral-color);
    cursor: pointer;
    color: var(--gray);
}

.menu-button-interior {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    background-color: var(--dark-mode-text-color);
    text-align: center;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-button-interior-text {
    margin: auto;
}

.menu-items-list {
    width: 100%;
    list-style-type: none;
    margin: 0;
}

li.menu-item {
    width: 100%;
    cursor: pointer;
    background: transparent;
    text-align: center;
    transition: all .2s ease-in-out;
}

li.menu-item:hover {
    background-color: var(--neutral-color);
}

@media only screen and (max-width: 600px) {
    .menu {
    }
}