.item-voter-0, .item-voter-1 {
    width: 80%;
    margin: auto;
    height: 20px;
    padding: 20px 0px 20px 0px;
    box-shadow: 4px 4px lightgray;
    border-radius: 25px 25px 25px 25px;
    border: none;
    display: table;
    background-color: var(--gray);
    font-size: 32px;
    text-align: center;
    cursor: pointer;
}

.item-voter-0:focus, .item-voter-1:focus {
    outline: none;
}

.item-voter-0 {
    background-color: var(--halal-color);
}

.item-voter-1 {
    background-color: var(--haram-color);
}

.item-voter-0-selected {
    background-color: var(--halal-compliment-color);
}

.item-voter-1-selected {
    background-color: var(--haram-compliment-color);
}

.votes-bullet-separator {
    display: inline-block;
    font-size: medium;
    vertical-align: middle;
    margin-bottom: 5px;
}