.topic-expose-container {
    display: flex;
    position: relative;
    height: calc(100% - var(--max-topic-carousel-height-px));
    width: 100%;
    scroll-snap-align: start;
    background: var(--dark-mode-background);
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always !important;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.topic-expose-container::-webkit-scrollbar {
    display: none;
}

.expose-item {
    scroll-snap-align: start;
    scroll-snap-stop: always !important;
    position: absolute;
    margin-top: 2em;
    height: 100%;
    width: 100%;
}

.feature-selector {
    position: fixed;
    width: 60vw;
    left: calc(50% - 30vw);
    font-size: 14px;
    font-weight: 600;
    z-index: 4;
    display: flex;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.feature-selector:hover {
    cursor: pointer;
}

.feature-selector-selected, .feature-selector-unselected {
    margin: auto;
    width: 100px;
    text-align: center;
}

.feature-selector-selected {
    color: white;
}

.feature-selector-unselected {
    color: gray;
}

.selector-underline {
    position: fixed;
    width: 3em;
    left: calc(50% - 25vw);
    z-index: 4;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}