.full-screen-container {
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.full-screen-footer {
    position: fixed;
    display: flex;
    height: 100%;
    bottom: calc(100% - var(--max-topic-carousel-height-px));
    border-bottom: 1px solid dimgray;
    width: 100%;
    background: var(--dark-mode-background-lighter);
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 4;
}

.full-screen-footer-content {
    /* position: relative; */
    width: 100%;
}

.topic-carousel-container {
    transform: translate(0, 0);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: var(--max-topic-carousel-height-px);
}

.search-container {
    width: 100%;
    transform: translate(0, 0);
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: calc(var(--max-topic-carousel-height-px) * 3);
}

.full-screen-container::-webkit-scrollbar {
    display: none;
}

.topic-cover {
    position: absolute;
    bottom: 0;
    height: calc(100% - var(--max-topic-carousel-height-px));
    width: 100%;
    /* background: rgba(136, 136, 136); */
    opacity: 0;
    transition: all 0.3s ease;
}

.topic-cover-label {
    font-size: 3em;
    color: var(--dark-mode-text-color);
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(50% - 1.3em);
}

.full-screen-topic {
    display: flex;
    position: absolute;
    bottom: 0;
    height: calc(100% - var(--max-topic-carousel-height-px));
    width: 100%;
    scroll-snap-align: start;
    background: var(--dark-mode-background);
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always !important;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.full-screen-topic::-webkit-scrollbar {
    display: none;
}

.topic-carousel-container-fs-absolute {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 4;
}

.topic-carousel-container-fs-fixed {
    position: fixed;
    z-index: 4;
}

.feature-selector {
    position: fixed;
    top: calc(var(--max-topic-carousel-height-px) + 5px);
    width: 260px;
    left: calc(50% - 130px);
    font-size: 14px;
    font-weight: 600;
    z-index: 3;
    display: flex;
}

.feature-selector:hover {
    cursor: pointer;
}

.feature-selector-selected, .feature-selector-unselected {
    margin: auto;
    width: 100px;
    text-align: center;
}

.feature-selector-selected {
    color: white;
}

.feature-selector-unselected {
    color: gray;
}

.selector-underline {
    position: fixed;
    top: calc(var(--max-topic-carousel-height-px) + 1.75em);
    width: 3em;
    left: calc(50% - 1.5em);
    z-index: 3;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.fs-1, .fs-2, .fs-3 {
    scroll-snap-align: start;
    scroll-snap-stop: always !important;
    position: absolute;
    height: 100%;
    width: 100%;
}