.add-item-body {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.add-item-section-text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--gray);
}

.add-item-input {
    width: 80% !important;
    margin: 10px 0 10px 10%;
}

.add-item-submit-button {
    width: 80%;
    padding: 6px;
    margin: 10px 0 0 10%;
}

.add-item-button {
    position: fixed;
    height: 40px;
    width: 40px;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
    background-color: var(--button-background-color);
    border: 1px solid #dfe1e5;
    outline: none;
    padding: 14px;
    color: var(--gray);
}

.add-item-button:hover {
    cursor: pointer;
    border: 1px solid black;
}