.cards-shell {
    position: relative;
    height: min(calc(100% - var(--topic-carousel-height-vh)), calc(100% - var(--max-topic-carousel-height-px)));
    width: 100%;
    padding-top: max(var(--topic-carousel-height-vh), var(--max-topic-carousel-height-px));
    margin-left: 27.5vw;
}

.card-shell {
    display: flex;
    position: absolute;
    height: min(calc(95% - var(--topic-carousel-height-vh)), calc(95% - var(--max-topic-carousel-height-px)));
    width: 45vw;
    border-radius: 25px;
    margin-left: unset;
    margin-right: unset;
    background: white;
    box-shadow: 0 5px 50px 0 rgba(32,33,36,0.28);
}

.card-shell-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: grey;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.card-shell-cover:hover{
    background-color: var(--highlight-color);
}

.card-shell-cover-label {
    position:absolute;
    height: 100%;
    width: 0;
    right: 1vw;
    color: white;
    font-size: 2em;
    z-index: 2;
    pointer-events: none;
    writing-mode: vertical-rl;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .card-shell {
        width: 75vw;
    }
    
    .cards-shell {
        margin-left: 13vw;
    }
    .card-shell-cover-label {
        right: 0.5vw;
        font-size: 1.25em;
    }
}