.add-topic-body {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.add-topic-section-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--dark-mode-text-color);
}

.add-topic-input {
    width: 80% !important;
}

.add-topic-image-choose-button:hover {
    text-decoration: underline;
}

.add-topic-image {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
}

.add-topic-submit-button {
    margin: 20px 0 0 0 !important;
}