.add-topic-body {
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.add-topic-section-text {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--site-background-color);
}

.add-topic-input {
    width: 80% !important;
    margin: 10px 0 10px 10%;
}
