.topic-carousel {
    position: fixed;
    height: var(--max-topic-carousel-height-px);
    width: 100%;
    top: 0;
    opacity: 0.0;
    visibility: hidden;
}

.topic-navigator {
    height: var(--max-toolbar-height-px);
    width: max-content;
    display: contents;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-radius: 5em;
}

.topic-title::-webkit-scrollbar {
    display: none;
}

.topic-title {
    min-height: calc(var(--max-toolbar-height-px));
    min-width: 100%;
    line-height: 2.1;
    text-align: center;
    font-size: 2em;
    color: var(--neutral-color);
    overflow-x: auto;
    cursor: pointer;
    white-space: nowrap;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

.linear-wipe {
    text-align: center;
    width: fit-content;
    margin: auto;
    background: linear-gradient(to right, var(--light-neutral-color) 0%, var(--neutral-color) 10%, var(--neutral-color) 90%, var(--light-neutral-color) 100%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 2s infinite linear;
}

.linear-wipe:hover {
    -webkit-text-fill-color: unset;
    color: var(--light-neutral-color) !important;
}
@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.under-bar {
    position: sticky;
    background-color: var(--neutral-color);
    border-radius: 5em;
    height: 5px;
    width: 100%;
    max-width: 95vw;
    margin: auto;
    bottom: 0.55em;
    animation: jump 2s infinite cubic-bezier(0,.47,.26,1.01) alternate;
}

@keyframes jump {
    to {
        transform: translate(0, 0.3em);
    }
}

.topic-title:hover {
    color: var(--light-neutral-color);
}

.carousel-button-left, .carousel-button-right {
    position: absolute;
    top: 0;
    padding: 0;
    cursor: pointer;
    width: 12vw;
    height: 100vh;
    background: transparent;
    border: none;
    border-radius: 0;
    color: var(--site-background-color);
    outline: none;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}

.carousel-button:hover {
    border: none;
}

.carousel-button-computer:hover {
    background: transparent;
    -webkit-box-shadow: inset 0 0 100px 20px var(--light-neutral-color);
    box-shadow: inset 0 0 100px 20px var(--light-neutral-color);
}

.topic-votes-container {
    width: 100%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    color: var(--gray);
}

.voting-slider {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.average-votes-mark {
    background-color: var(--gray);
    height: 100%;
    width: 2px;
    position: absolute;
    transform: translate(12.5px, 0px);
}

.average-votes-mark-label {
    transform: translate(1px, 25px) rotate(135deg);
    line-height: 1.2;
    width: 19px;
    padding: 2px;
    height: 19px;
    font-size: 12px;
    color: var(--neutral-color);
    text-align: center;
    justify-content: center;
    border-radius: 50% 50% 50% 0;
    border: 1px solid var(--neutral-color);
    background-color: white;
}

.arrow-icon-left, .arrow-icon-right {
    color: var(--site-background-color);
    height: 100%;
    width: 100%;
}

.topic-vote-text-left, .topic-vote-text-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 2;
    padding-top: 3px;
}

.topic-vote-text-left {
    left: 26vw;
    border-radius: 50px 10px 10px 50px;
    color: #602d86;
}

.topic-vote-text-right {
    right: 26vw;
    border-radius: 10px 50px 50px 10px;
    color: #1c4d44;
}

.prev-next-topic {
    color: gray;
}

@media only screen and (max-width: 600px) {
    .topic-vote-text {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    .carousel-button-left, .carousel-button-right {
        position: absolute;
        top: 0;
        padding: 0;
        cursor: pointer;
        width: 5vw;
        height: 100vh;
        background: transparent;
        border: none;
        border-radius: 0;
        color: var(--site-background-color);
        outline: none;
    }
}