.analytics, .analytics-fs {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 25px;
}

.analytics {
}

.analytics-fs {
}

.analytics-fs {
  padding-top: 6em;
}

.chart {
  height: 50% !important;
  width: 90% !important;
  max-width: 500px !important;
  padding-top: 5em;
  margin: auto;
}