.analytics, .analytics-fs {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 25px;
}

.analytics {
}

.analytics-fs {
  z-index: 3;
}

.analytics-fs {
  padding-top: 6em;
}

.canvas-container {
  width: 100%;
  margin: auto;
  touch-action: none;
}

.chart {
  max-width: 100% !important;
  margin: auto;
}

.analytics-footer, .analytics-footer-fullscreen {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 0.5px solid dimgray;
}

.analytics-footer {
  border-radius: 0 0 25px 25px;
}

.analytics-footer-fullscreen {
  z-index: 3;
}

.numeric-display {
  width: 95%;
  margin: auto;
  margin-top: 1em;
}

.votes-label {
  color: var(--dark-mode-text-color);
  font-size: 14px;
  padding-bottom: 2px;
}

.numeric-display-halal, .numeric-display-haram {
  font-size: 12px;
  text-align: left;
  margin: auto;
  display: flex;
}

.numeric-display-halal {
  color: var(--halal-color);
}

.numeric-display-haram {
  color: var(--haram-color);
}

.numeric-display-label {
  margin-left: auto;
  width: 5em;
}

.numeric-display-value {
  margin-right: auto;
}