.votes-bar {
    position: relative;
    display: flex;
    background: gray;
    margin: auto;
    margin-top: 15px;
    width: 75%;
    max-width: 500px;
}

.voting-bar-haram {
    background: var(--dark-mode-haram-color);
}

.voting-bar-halal {
    background: var(--halal-color);
}