.modal {
    height: 0;
    width: 0;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--dark-mode-middleground);
    z-index: 4;
    overflow: hidden;
}

.modal-cover {
    height: calc(100vh);
    bottom: 0;
    width: 100vw;
    position: fixed;
    background-color: #808080;
    opacity: 0.8;
    z-index: 4;
}