.modal {
    height: 0;
    width: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 25px 25px 25px 25px;
    background-color: var(--neutral-color);
    z-index: 4;
    overflow: hidden;
}

.modal-cover {
    height: calc(100vh);
    bottom: 0;
    left: 12vw;
    width: 100vw;
    position: fixed;
    background-color: #D3D3D3;
    opacity: 0.8;
    z-index: 2;
}