.analytics {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: min(var(--item-carousel-height-vh), var(--max-item-carousel-height-px));
    padding-bottom: 0px;
    scroll-snap-align: start;
  }