.description {
  height: 100%;
  width: 100%;
  text-align: center;
}

.description-navigator-button {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -64px;
  border-radius: 20px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
  overflow: hidden;
}

.description-navigator-button-left {
  left: calc(50% - 84px);
}

.description-navigator-button-right {
  right: calc(50% - 84px);
}

.description-navigator-button:hover {
  background-color: var(--light-neutral-color);
}

.description-navigator-button-icon {
  margin-left: -29px;
  margin-top: -8px;
}

.topic-description {
  width: 100%;
  text-align: center;
  overflow: scroll;
  color: var(--site-background-color);
}

.no-topic-description-text {
  color: var(--site-background-color);
}

.topic-description-name {
  text-align: center;
  font-size: 24px;
  color: var(--site-background-color);
  padding: 2em;
}

.topic-description-name-row {
  height: 60px;
}

.show-add-topic-button {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 16px;
  bottom: -80px;
  left: calc(50% - 36px);
  border-radius: 36px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
}

.show-add-topic-button:hover {
  background-color: var(--light-neutral-color);
}

.add-description-body {
  padding: 2em;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.add-description-section-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--site-background-color);
}

.add-description-input {
  width: 80% !important;
  margin: 10px 0 10px 10%;
}

.add-description-back-button {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 8px;
  left: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 30px;
}

.add-description-back-button:hover {
  background: var(--light-neutral-color);
  border: none;
  outline: none;
}

.add-description-image-uploader-button:hover {
  text-decoration: underline;
}

.add-description-image-container {
  width: 100%;
  text-align: center;
}

.add-description-image {
  max-width: 250px;
  max-height: 250px;
}