.description {
  height: 100%;
  width: 100%;
  text-align: center;
}

.description-navigator-button {
  position: absolute;
  height: 60px;
  width: 60px;
  top: calc(50% - 30px);
  border-radius: 30px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
  overflow: hidden;
}

.description-navigator-button-left {
  left: -68px;
}

.description-navigator-button-right {
  right: -68px;
}

.description-navigator-button:hover {
  background-color: var(--light-neutral-color);
}

.description-navigator-button-icon {
  margin-left: -20px;
}

.item-description {
  width: 100%;
  text-align: center;
  overflow: scroll;
  color: var(--site-background-color);
}

.no-item-description-text {
  color: var(--site-background-color);
}

.item-description-name {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: var(--site-background-color);
}

.item-description-name-row {
  height: 60px;
}

.show-add-item-button {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 16px;
  bottom: -80px;
  left: calc(50% - 36px);
  border-radius: 36px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
}

.show-add-item-button:hover {
  background-color: var(--light-neutral-color);
}

.add-description-body {
  position: absolute;
  width: 100%;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.add-description-section-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--site-background-color);
}

.add-description-input {
  width: 80% !important;
  margin: 10px 0 10px 10%;
}

.add-description-back-button {
  position: absolute;
  height: 60px;
  width: 100px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 25px 0 0 0;
}

.add-description-back-button:hover {
  background: var(--light-neutral-color);
  border: none;
  outline: none;
}