.app-shell {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.fixed-content {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.fixed-content-below-cover {
  position: fixed;
  width: 100%;
}