.app-shell {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.header {
  position: fixed;
  width: 100%;
}

.comments-table {
  height: 90%;
  width: 100%;
  padding-top: 120px;
  margin-bottom: 10%;
  scroll-snap-align: start;
}

.comments-table-column {
  width: 50%;
}

.other-page {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 0px;
  scroll-snap-align: start;
}