.image-body {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  overflow: hidden;
  text-align: center;
}

.image-navigator-button {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -64px;
  border-radius: 20px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
  overflow: hidden;
}

.image-navigator-button-left {
  left: calc(50% - 84px);
}

.image-navigator-button-right {
  right: calc(50% - 84px);
}

.image-navigator-button:hover {
  background-color: var(--light-neutral-color);
}

.image-navigator-button-icon {
  margin-left: -29px;
  margin-top: -8px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.image-username {
  position: absolute;
  bottom: 20px;
  right: 60px;
  padding: 10px 15px 10px 15px;
  background: var(--neutral-color);
  color: var(--site-background-color);
  border-radius: 20px 20px 20px 20px;
  cursor: pointer;
  text-align: center;
}

.image-username:hover {
  background-color: var(--light-neutral-color);
}

.image-delete-button {
  position: absolute;
  height: 40px;
  bottom: 20px;
  right: 20px;
  color: var(--neutral-color);
  cursor: pointer;
  text-align: center;
}

.image-delete-button:hover {
  color: var(--light-neutral-color);
}

.no-image-text {
  height: auto;
  width: 100%;
  margin: auto;
  color: var(--site-background-color);
}

.show-add-image-button {
  position: absolute;
  height: 40px;
  width: 40px;
  padding: 16px;
  bottom: -80px;
  left: calc(50% - 36px);
  border-radius: 36px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
}

.show-add-image-button:hover {
  background-color: var(--light-neutral-color);
}

.add-image-body {
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.add-image-back-button {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 8px;
  left: 8px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 30px;
}

.add-image-section-text {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--site-background-color);
}

.add-image-back-button:hover {
  background: var(--light-neutral-color);
  border: none;
  outline: none;
}

.add-image-choose-button:hover {
  text-decoration: underline;
}

.adding-image {
  max-width: 250px;
  max-height: 250px;
}

.add-image-submit-button {
  margin: 0 !important;
}