.images-body {
  display: block;
  height: calc(100% - 50px);
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  overflow: auto;
  text-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background: black;
}

.canvas-footer, .canvas-footer-fullscreen {
  height: 51px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: black;
  border-top: 0.5px solid gray;
}

.canvas-footer {
  border-radius: 0 0 25px 25px;
}

.canvas-footer-fullscreen {
  z-index: 3;
}

.show-add-image-button, .hide-add-image-button {
  position: absolute;
  height: 34px;
  width: 60px;
  bottom: 8px;
  left: calc(50% - 30px);
  border-radius: 30px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(32,33,36,0.5);
}

.show-add-image-button, .show-add-image-button-fullscreen {
  transform: scale(0);
  animation: appear 0.3s ease-in-out forwards;
}

.hide-add-image-button, .hide-add-image-button-fullscreen {
  transform: scale(1);
  animation: disappear 0.3s ease-in-out forwards;
}

.images-body::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
.images-body::-webkit-scrollbar-thumb {
  background: rgb(195, 195, 12);
}

.images-body-fullscreen {
  z-index: 3;
  position: absolute;
  display: block;
  height: calc(100% - 50px);
  width: 100%;
  overflow: auto;
  text-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background: black;
}

.more-images-above, .more-images-below {
  position: absolute;
  height: 30px;
  width: 30px;
  left: calc(50% - 15px);
  fill: gray;
}

.more-images-below {
  bottom: 50px;
  animation: jumpdown 0.75s infinite ease-out alternate;
}

.more-images-above {
  top: 10px;
  animation: jumpup 0.75s infinite ease-out alternate;
}

@keyframes jumpdown {
  from {
    transform: translate(0, 0.3em)
  }
  to {
      transform: translate(0, 0);
  }
}

@keyframes jumpup {
  from {
    transform: translate(0, 0)
  }
  to {
      transform: translate(0, 0.3em);
  }
}

.image-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.image-navigator-button {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -64px;
  padding: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 30px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  outline: none;
}

.image-navigator-button-left {
  left: calc(50% - 84px);
}

.image-navigator-button-right {
  right: calc(50% - 84px);
}

.image-navigator-button:hover {
  background-color: var(--light-neutral-color);
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.image-actions-container {
  position: absolute;
  display: block;
  height: fit-content;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
}

.image-username {
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  margin: 0 0 1em 1em;
  height: fit-content;
  width: fit-content;
  color: white;
  cursor: pointer;
  text-align: center;
}

.image-username:hover {
  color: var(--light-neutral-color);
}

.image-delete-button {
  padding: 5px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  margin-bottom: 1.5em;
  height: 40px;
  right: calc(13px);
  cursor: pointer;
  text-align: center;
}

.image-likes-container {
  padding: 5px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  position: absolute;
  display: table-cell;
  right: 0;
  bottom: 0;
  width: fit-content;
  margin: 0 1em 1em 0;
}

.image-likes {
  height: 20px;
}

.image-heart {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.image-heart:hover {
  color: var(--light-neutral-color);
}

.image-delete-button:hover {
  color: var(--light-neutral-color);
}

.no-image-text {
  top: calc(50% - 0.5em);
  position: absolute;
  height: auto;
  width: 100%;
  margin: auto;
  color: var(--site-background-color);
}

@keyframes appear {
  to {
      transform: scale(1);
  }
}

@keyframes disappear {
  to {
      transform: scale(0);
  }
}

.show-add-image-button:hover {
  background-color: var(--light-neutral-color);
}

.add-image-body {
  border-radius: 25px 25px 25px 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  text-align: center;
}

.add-image-back-button {
  position: absolute;
  height: 34px;
  width: 60px;
  bottom: 8px;
  left: calc(50% - 30px);
  border-radius: 30px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(32,33,36,0.5);
  border: none;
}

.add-image-section-text {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: var(--site-background-color);
}

.image-preview-title {
  position: absolute;
  top: 4%;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: fit-content;
  font-size: 1.5vh;
  left: calc(50% - 7vh);
}

.file-uploader {
    width: fit-content;
    height: fit-content;
    bottom: 60px;
    position: absolute;
    font-size: 1.5vh !important;
    left: calc(50% - 7vh);
}

.add-image-back-button:hover {
  background: var(--light-neutral-color);
  border: none;
  outline: none;
}

.add-image-choose-button {
  color: white;
}

.add-image-choose-button:hover {
  text-decoration: underline;
}

.adding-image {
  max-width: 250px;
  max-height: 250px;
}

.add-image-submit-button {
  width: 200px !important;
  left: calc(50% - 100px);
  position: absolute;
  margin: 0 0 1em 0 !important;
  bottom: 0;
  color: white !important;
}

.like, .liked {
  height: 22px;
  width: 25px;
  cursor: pointer;
  stroke-width: 1px;
}

.like {
  color: white;
}

.like:hover {
  color: red !important;
}

.liked {
  color: #cf003b;
  stroke: #cf003b;
  animation: like 0.5s ease-in-out forwards;
}

@keyframes like {
  0% {
      color: gray;
      stroke: gray;
      transform: scale(1);
  }
  50% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}