.images-body {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 25px 25px 25px 25px;
  overflow: auto;
  text-align: center;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  background: black;
}

.image-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
}

.image-navigator-button {
  position: absolute;
  height: 40px;
  width: 40px;
  bottom: -64px;
  padding: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 30px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  outline: none;
}

.image-navigator-button-left {
  left: calc(50% - 84px);
}

.image-navigator-button-right {
  right: calc(50% - 84px);
}

.image-navigator-button:hover {
  background-color: var(--light-neutral-color);
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.image-actions-container {
  position: absolute;
  display: block;
  height: fit-content;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center;
}

.image-username {
  position: absolute;
  bottom: 0;
  margin: 0 0 1em 1em;
  height: fit-content;
  width: fit-content;
  background: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

.image-username:hover {
  color: var(--light-neutral-color);
}

.image-delete-button {
  position: absolute;
  bottom: 60px;
  margin-bottom: 1em;
  height: 40px;
  right: calc(16px);
  cursor: pointer;
  text-align: center;
}

.image-likes-container {
  position: absolute;
  display: table-cell;
  right: 0;
  bottom: 0;
  width: fit-content;
  margin: 0 1em 1em 0;
}

.image-likes {
  height: 20px;
}

.image-heart {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.image-heart:hover {
  color: var(--light-neutral-color);
}

.image-delete-button:hover {
  color: var(--light-neutral-color);
}

.no-image-text {
  top: calc(50% - 0.5em);
  position: absolute;
  height: auto;
  width: 100%;
  margin: auto;
  color: var(--site-background-color);
}

.show-add-image-button {
  position: absolute;
  height: 8vh;
  width: 8vh;
  bottom: -9vh;
  left: calc(50% - 4vh);
  border-radius: 36px;
  background-color: var(--neutral-color);
  color: var(--site-background-color);
  cursor: pointer;
}

.show-add-image-button:hover {
  background-color: var(--light-neutral-color);
}

.add-image-body {
  width: 100%;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.add-image-back-button {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 8px;
  left: 8px;
  padding: 18px;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 30px;
  color: var(--site-background-color)
}

.add-image-section-text {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: var(--site-background-color);
}

.add-image-back-button:hover {
  background: var(--light-neutral-color);
  border: none;
  outline: none;
}

.add-image-choose-button:hover {
  text-decoration: underline;
}

.adding-image {
  max-width: 250px;
  max-height: 250px;
}

.add-image-submit-button {
  margin: 20px 0 0 0 !important;
}