.search-page {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    padding-bottom: 0px;
    scroll-snap-align: start;
}

.search-bar {
    position: relative;
    margin: auto;
    top: 20vh;
    width: 60vh;
}

.search-header {
    font-size: 64px;
}

.search-bar-input {
    margin: 8px 0 0 0 !important;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

.search-bar-input-no-bottom-radius {
    margin: 8px 0 0 0 !important;
    border-radius: 24px 24px 0 0;
    border: none;
}

.search-bar-input:focus {
    outline: none;
}

.autocomplete {
    position: absolute;
    width: 100%;
    background-color: white;
    border-radius: 0 0 24px 24px;
    text-align: left;
}

.autocomplete-list {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-inline-start: 20px;
}

.autocomplete-list-item:hover {
    background-color: lightgray;
}