.search-page {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    scroll-snap-align: start;
}

.search-page-mobile {
    z-index: 4;
    display: table;
    position: fixed;
    background: var(--dark-mode-background);
    height: 20vh;
    width: 100%;
    text-align: center;
    transform: translate(0, -25vh);
    transition: all 0.3s ease;
    border-radius: 0 0 25px 25px;
}

@media only screen and (max-width: 600px) {
    .search-bar {
        position: absolute;
        top: 0 !important;
        width: 90% !important;
    }

    .search-header {
        font-size: 4em !important;
    }
}

.search-bar {
    font-size: 16px;
    position: relative;
    margin: auto;
    top: 20vh;
    width: 60vh;
}

.search-header {
    font-size: 5em;
    color: var(--gray);
}

.search-header-haram {
    color: var(--haram-compliment-color);
}

.search-header-halal {
    color: var(--halal-compliment-color);
}

.search-bar-input,
.search-bar-input-autocomplete-open {
    margin: 8px 0 0 0 !important;
    padding: 1em 3em !important;
    border: none !important;

    /* darkmode styles */
    background: var(--dark-mode-middleground) !important;
    color: var(--dark-mode-text-color);
}

.search-bar-input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-bar-input-autocomplete-open {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-radius: 24px 24px 0 0 !important;
    border: none;
}

.autocomplete {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    /* background-color: white; */
    background: var(--dark-mode-middleground);
    color: var(--dark-mode-text-color);
    border-radius: 0 0 24px 24px;
    list-style-type: none;
    text-align: left;
}

.autocomplete-list {
    flex: auto;
    padding-bottom: 8px;
    padding-left: 0;
    margin-top: 0;
}

.autocomplete-list-item, .autocomplete-list-item-highlighted {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
    transition: all .2s ease-in-out;
}

.autocomplete-list-item-highlighted {
    /* background: #eee; */
    background: var(--dark-mode-highlight-color);
}

.suggestions-inner-container {
    flex: auto;
    display: flex;
    margin: 0 20px;
    align-items: center;
    margin: 0 20px 0 3em;
}

.option {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0;
    cursor: default;
}

.search-icon-container {
    position: absolute;
    padding: 1.55em 1.2em;
}