.comments-body {
    position: relative;
    height: min(calc(100% - var(--topic-carousel-height-vh)), 100% - var(--max-topic-carousel-height-px));
    width: 100%;
    padding-top: max(var(--topic-carousel-height-vh), var(--max-topic-carousel-height-px));
    scroll-snap-align: start;
}

.comments-card-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 25px 25px 25px 25px;
    background-color: black;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.comments-card-cover:hover{
    background-color: var(--highlight-color);
}

@media only screen and (max-width: 600px) {
    .comments-body {
        display: flex;
        justify-content: center;
    }
    .comments-card-1, .comments-card-0 {
        width: 90vw !important;
        display: flex !important;
        margin-left: unset !important;
        margin-right: unset !important;
    }
    .card-flip {
        cursor: pointer;
        display: block !important;
        position: absolute;
        right: 0;
        margin-top: 5px;
        margin-right: 5px;
        padding-top: 5px;
        padding-right: 5px;
        border-radius: 0 48px 0 0;
    }
    .comments-container {
        width: 100%;
    }
    .comments-container-padding-div {
        padding: 0.5em 0.5em 0.4em 0.5em !important;
    }
    .comment {
        font-size: 1.05em !important;
    }
    .comment-header .vote-buttons {
        padding-top: 0.25em !important;
    }
    .comment-header .vote-buttons .up-vote-button {
        height: 12px !important;
        width: 12px !important;
    }
    .comment-header .vote-buttons .down-vote-button {
        height: 12px !important;
        width: 12px !important;
    }
    .comment-header {
        font-size: 12px !important;
    }
    .comment-header .vote-counts {
        font-size: 10px;
        margin-left: 5px;
    }
    .comment-header .username {
        padding-top: 0.5em;
    }
    
    .comment-header .time-stamp {
        padding-top: 0.5em;
    }
    .comment-actions {
        font-size: 11px !important;
    }
    .comment-header .bullet-separator {
        margin-top: 0.9em !important;
    }
    .comment-header .vote-counts .up-votes {
        font-size: 10px;
        padding-top: 0.2em !important;
    }
    
    .comment-header .vote-counts .down-votes {
        font-size: 10px !important;
    }
}

.comments-container {
    position: relative;
    height: calc(100% - 4em - 20px);
    border-radius: 25px 25px 25px 0px;
    overflow: scroll;
    scroll-behavior: smooth;
}

.comments-container-padding-div {
    padding: 1.2em 1.2em 0.8em 1.2em;
}

.card-flip {
    display: none;
}

.comments-card-1, .comments-card-0 {
    height: calc(100% - 4vh);
    position: relative;
    width: 47vw;
    margin-top: 2vh;
    box-shadow: 0 5px 50px 0 rgba(32,33,36,0.28);
    border-radius: 25px 25px 25px 25px;
    float: left;
}

.comments-card-1 {
    background-color: var(--haram-color);
    margin-left: 20vw;
    margin-right: -40vw;
}

.comments-card-0 {
    background-color: var(--halal-color);
}

.comments-container::-webkit-scrollbar {
    display: none;
}

.comment-border-unhighlighted, .comment-border-highlighted {
    padding: 5px 5px 0 5px;
    position: relative;
}

.comment-border-highlighted {
    border-radius: 10px;
    box-shadow: 0 0 10px var(--highlight-color);
}

.comment-tail-0, .comment-tail-1 {
    float: left;
    top: 30px;
    bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-clip: content-box;
    background-color: var(--gray);
    opacity: .1;
    width: 2px;
    position: absolute;
}

.comment-tail-0:hover, .comment-tail-1:hover {
    cursor: pointer;
    opacity: 1;
    width: 5px;
}

.comment-tail-0:hover {
    background-color: var(--halal-compliment-color);
}

.comment-tail-1:hover {
    background-color: var(--haram-compliment-color);
}

.comment-header {
    display: flex;
    font-size: 13px;
}

.comment-header .expand-button-0 {
    height: 100%;
    width: 100%;
    color: var(--halal-compliment-color);
}

.comment-header .expand-button-0:hover {
    color: var(--halal-color);
    fill: var(--halal-compliment-color);
}

.comment-header .expand-button-1 {
    height: 100%;
    width: 100%;
    color: var(--haram-compliment-color);
}

.comment-header .expand-button-1:hover {
    color: var(--haram-color);
    fill: var(--haram-compliment-color);
}

.comment-header .bullet-separator {
    color: var(--gray);
    margin-top: 1em;
    font-size: xx-small;
    margin-left: 5px;
    margin-right: 5px;
}

.comment-header .vote-buttons {
    display: grid;
}

.comment-header .vote-buttons .up-vote-button {
    height: 13px;
    width: 13px;
}

.comment-header .vote-buttons .up-vote-button-clicked {
    height: 13px;
    width: 13px;
    fill: green;
}

.comment-header .vote-buttons .up-vote-button:hover {
    fill: green;
    cursor: pointer;
}


.comment-header .vote-buttons .down-vote-button {
    height: 13px;
    width: 13px;
}

.comment-header .vote-buttons .down-vote-button-clicked {
    height: 13px;
    width: 13px;
    fill: var(--haram-compliment-color);
}

.comment-header .vote-buttons .down-vote-button:hover {
    fill: var(--haram-compliment-color);
    cursor: pointer;
}

.comment-header .vote-counts {
    display: grid;
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}

.comment-header .vote-counts .up-votes {
    width: fit-content;
    float:right;
}

.comment-header .vote-counts .down-votes {
    width: fit-content;
    float: right;
}

.comment-header .username {
    float: left;
    padding-top: 0.5em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.comment-header .time-stamp {
    padding-top: 0.5em;
}

.comment-header .time-stamp:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1.2em;
    color: var(--gray);
}

.comment p {
    margin: 0.5em 0 0.5em 0;
}

.comment-actions {
    margin-left: 16px;
    margin-bottom: 5px;
    color: gray;
    font-size: 12px;
    font-weight: 550;
}

.reply-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.delete-button {
    margin-left: 15px;
}

.delete-button:hover {
    cursor: pointer;
    color: transparent;  
    text-shadow: 0 0 0 red;
}

.toggle-collapse {
    cursor: pointer;
    width: 15px;
}

.replies {
    margin-left: 5%;
}

.show-more-replies-0, .show-more-replies-1 {
    margin-left: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.show-more-replies-0 {
    color: var(--halal-compliment-color);
}

.show-more-replies-1 {
    color: var(--haram-compliment-color);
}

.show-more-comments-0, .show-more-comments-1 {
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
}

.show-more-comments-0 {
    color: var(--halal-compliment-color);
}

.show-more-comments-1 {
    color: var(--haram-compliment-color);
}

.show-more-replies-1:hover, .show-more-replies-0:hover, .show-more-comments-1:hover, .show-more-comments-0:hover {
    text-decoration: underline;
}

.comment-maker-card-0, .comment-maker-card-1 {
    display: table;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4em;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 0 5px 50px 0 rgba(32,33,36,0.28);
}

.comment-maker-card-0 {
    background-color: var(--halal-color);
}

.comment-maker-card-1 {
    background-color: var(--haram-color);
}

.comment-maker-input {
    width: 100%;
    font-size: 18px;
    resize: none;
    color: var(--gray);
}

.comment-maker-input .ql-toolbar {
    padding: 5px 5px 0 5px;
    border: none;
}

.comment-maker-input .ql-container {
    border: none;
    font-size: 18px;
}

.comment-maker-input .ql-editor {
    font-family: revert;
    min-height: 3em;

}

.comment-maker-button-0, .comment-maker-button-1 {
    position: absolute;
    bottom: 5px;
    right: 1.75%;
    width: 34.5px;
    padding: 0px;
    border-radius: 100px 100px 100px 100px;
    border-style: none;
    cursor: pointer;
}

.comment-maker-button-0 {
    color: var(--halal-compliment-color);
}

.comment-maker-button-0:hover {
    color: var(--halal-color);
    fill: var(--halal-compliment-color);
}

.comment-maker-button-1 {
    color: var(--haram-compliment-color);
}

.comment-maker-button-1:hover {
    color: var(--haram-color);
    fill: var(--haram-compliment-color);
}

.comment-maker-input:focus, .comment-maker-button:focus {
    outline: none;
}
