html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #616161;
  background-color: #d4d4d4;
  position: relative;
}

:root {
  --haram-color: #C1B8C8;
  --haram-color-transparent: rgb(193, 184, 200, 0.5);
  --halal-color: #A9DDD6;
  --halal-color-transparent: rgb(169, 221, 214, 0.5);

  --haram-compliment-color: #9BA0BC;
  --haram-compliment-color-transparent: rgb(155, 160, 188, 0.5);
  --halal-compliment-color: #7A8B99;
  --halal-compliment-color-transparent: rgb(122, 139, 153, 0.5);

  --neutral-color: #91adc2;
  --neutral-color-transparent: rgb(145, 173, 194, 0.5);

  --link-color: #6495ed;
  --gray: #7A8B99;

  --toolbar-height-vh: 10vh;
  --max-toolbar-height-px: 60px;
  --item-carousel-height-vh: 20vh;
  --max-item-carousel-height-px: 120px;
}
