html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #6d6d6d;
  background-color: #d4d4d4;
  position: relative;
}

:root {
  --haram-color: #C1B8C8;
  --halal-color: #A9DDD6;

  --haram-compliment-color: #9BA0BC;
  --halal-compliment-color: #7A8B99;

  --neutral-color: #91adc2;
  --neutral-color-transparent: rgb(145, 173, 194, 0.5);

  --link-color: #6495ed;
  --gray: #7A8B99;
}
