html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #616161;
  background-color: var(--site-background-color);
  position: relative;
  transition: background-color 0.5s linear;
}

:root {
  --haram-color: #D0ADEB;
  --haram-color-transparent: rgb(208, 173, 235, 0.75);
  --halal-color: #A9DDD6;
  --halal-color-transparent: rgb(169, 221, 214, 0.75);

  --haram-compliment-color: #AB6BDB;
  --haram-compliment-color-transparent: rgb(171, 107, 219, 0.75);
  --halal-compliment-color: #7CCBBE;
  --halal-compliment-color-transparent: rgb(124, 203, 190, 0.75);

  --light-neutral-color: #97A5AF;
  --neutral-color: #6A7C8A;
  --neutral-color-transparent: rgb(106, 124, 138, 0.75);

  --link-color: #6495ed;
  --gray: #232B2F;
  --dark-mode-background: #181818;
  --dark-mode-text-color: rgb(221, 221, 221);
  --dark-mode-secondary-text-color: rgb(124, 124, 124);
  --dark-mode-highlight-color: rgb(44, 44, 44);

  /* --site-background-color: #d4d4d4; */
  --site-background-color: #3a3a3a;

  --toolbar-height-vh: 11vh;
  --max-toolbar-height-px: 50px;
  --topic-carousel-height-vh: 13vh;
  --max-topic-carousel-height-px: 135px;

  --highlight-color: #8fb4ff;

  --button-background-color: #f2f2f2;
}

input[type=text], input[type=password] {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  outline: none;
  font-size: 16px;
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

.button {
  width: 80%;
  padding: 6px;
  margin: 10% 0 0 10%;
  border-radius: 24px;
  color: var(--site-background-color);
  background-color: var(--gray) !important;
  border: none;
  outline: none;
  font-size: 16px;
}

.button:hover {
  border: none !important;
  background-color: var(--light-neutral-color) !important;
  cursor: pointer !important;
}

.disabled-button:hover {
  cursor: unset;
  border: 1px solid #dfe1e5;
}
