.item-carousel {
    position: fixed;
    height: min(var(--item-carousel-height-vh), var(--max-item-carousel-height-px));
    width: 100%;
    background: var(--neutral-color-transparent);
    top: 0;
    opacity: 0.0;
    visibility: hidden;
}

.item-navigator {
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    background: var(--neutral-color-transparent);
    width: 100%;
    display: flex;
    overflow-y: scroll;
}

.item-navigator::-webkit-scrollbar {
    display: none;
}

.item-text {
    text-align: center;
    margin: auto;
    font-size: 32px;
    color: var(--gray);
}

.carousel-button {
    padding: 0;
    cursor: pointer;
    width: 100px;
    min-width: 100px;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
}

.carousel-button:hover {
    background-color: var(--light-neutral-color);
    border: none;
}

.item-votes-container {
    width: 100%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    color: var(--gray);
}

.voting-slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-icon-left, .arrow-icon-right {
    color: var(--gray);
    height: 100%;
    width: 100%;
}

.item-vote-text {
    font-size: 32px;
}
