.item-carousel {
    position: fixed;
    height: var(--max-item-carousel-height-px);
    width: 100%;
    top: 0;
    opacity: 0.0;
    visibility: hidden;
}

.item-navigator {
    height: var(--max-toolbar-height-px);
    background: var(--neutral-color-transparent);
    width: 100%;
    display: flex;
}

.item-text::-webkit-scrollbar {
    display: none;
}

.item-text {
    margin-right: auto;
    margin-left: auto;
    padding-top: 1vh;
    text-align: center;
    font-size: 3vh;
    color: var(--site-background-color);
    overflow-y: scroll;
    cursor: pointer;
}

.carousel-button {
    padding: 0;
    cursor: pointer;
    width: 100px;
    min-width: 100px;
    height: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    color: var(--site-background-color);
}

.carousel-button:hover {
    border: none;
}

.carousel-button-computer:hover {
    background-color: var(--light-neutral-color);
}

.item-votes-container {
    width: 100%;
    height: min(var(--toolbar-height-vh), var(--max-toolbar-height-px));
    color: var(--gray);
}

.voting-slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.average-votes-mark {
    transform: translate(0px, 25px) rotate(135deg);
    line-height: 1.2;
    width: 19px;
    padding: 2px;
    height: 19px;
    font-size: 12px;
    color: var(--neutral-color);
    text-align: center;
    justify-content: center;
    border-radius: 50% 50% 50% 0;
    border: 1px solid var(--neutral-color);
    background-color: white;
}

.arrow-icon-left, .arrow-icon-right {
    color: var(--site-background-color);
    height: 100%;
    width: 100%;
}

.item-vote-text-left, .item-vote-text-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 2;
    padding-top: 3px;
}

.item-vote-text-left {
    left: 26vw;
    border-radius: 50px 10px 10px 50px;
    color: #602d86;
}

.item-vote-text-right {
    right: 26vw;
    border-radius: 10px 50px 50px 10px;
    color: #1c4d44;
}

@media only screen and (max-width: 600px) {
    .item-vote-text {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
}